<h1>Search for practice</h1>
<%= form_tag(search_pages_search_result_path, method: "get", class: "form-inline", role:"form") do %>
  <%= collection_select(:procedure, :procedure_id, Procedure.all, :id, :name) %> in
  <%= text_field_tag(:zipcode, "", class: "form-control", placeholder: "66603") %>
  <%= submit_tag("Search") %>
<% end %>


